@import "tailwindcss";

/* * {
    padding: 0;
    margin: 0;
    font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    box-sizing: border-box;
} */
.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 96rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 112rem /* 1536px */;
  }
}
.bg-primary {
  background-color: #0f0e0e;
}

.bg-image {
  background-image: url("/images/heroImages/wednesday.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-btn {
  @apply bg-black/40 backdrop-blur-sm rounded-full p-3 hover:bg-black/60 transition-colors;
}
.badge {
  @apply absolute z-10 rounded bg-black/80 text-[10px] sm:text-xs px-2 py-1 font-semibold;
}
.car-btn {
  @apply absolute top-1/2 -translate-y-1/2 bg-black/40 hover:bg-black/60
         p-3 rounded-md text-white hidden lg:flex;
}
.play-overlay {
  @apply absolute inset-0 flex items-center justify-center text-4xl opacity-0
         transition-opacity duration-300 group-hover:opacity-100 bg-black/60;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gradient-bg {
  background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 50%, #1e40af 100%);
}

.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(30, 58, 138, 0.8),
    rgba(30, 64, 175, 0.9)
  );
}
